@import 'styles/theme';

.header {
	position: sticky;
	width: 100%;
	background-color: $white;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	box-shadow: 0 0 12px -4px rgba(50, 50, 50, .4);
	min-height: 75px;

	.nav_bar {
		position: relative;
		z-index: 1000;
		height: 100%;

	}

	.logo {
		margin: auto;
		position: relative;
		z-index: 2;
		padding: 10px;
		height: 100%;
		cursor: pointer;
	}

	.nav_link {
		position: relative;
		cursor: pointer;
		height: 100%;
		padding: 20px;
		text-align: center;
		z-index: 1;

		&:after {
			content: '';
			margin-right: auto;
			display: block;
			height: 2px;
			background-color: $black;
			transition: .2s;
			width: 0;
		}

		&:hover {
			&::after {
				width: 100%;
			}
		}
	}

	.menu_item {
		.sub_nav {
			background-color: $white;
			box-shadow: 0 6px 12px -10px rgba(50, 50, 50, .4);
			color: $black;
			transition: .2s;
			position: absolute;
			top: calc(100% - 5px);
			z-index: -1;
			opacity: 0;
			left: 0;
			right: 0;
			transform: translateY(-100%);
			pointer-events: none;

			.nav_link {
				padding: 20px;
			}
		}

		&:hover {
			.sub_nav {
				opacity: 1;
				transform: translate(0);
				pointer-events: inherit;
			}
		}
	}
	
}
