@import 'styles/theme';

.info_card {
  box-shadow: 0 0 20px -1px rgba(50, 50, 50, .5);
  margin-top: 80px;
  border-radius: 6px;
}

.thin {
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

.link {
  cursor: pointer;
}

.cursive {
  font-family: $cursive;
}

.sans {
  font-family: $sans;
}

.legal {
  color: $grey;
}

.text_white {
  color: $white;
}

.text_grey {
  color: $grey;
}

.text_black {
  color: $black;
}

.text_primary {
  color: $primary;
}

.text_secondary {
  color: $secondary;
}

.text_complementary {
  color: $complementary;
}

.first_card {
  .card {
    border: none;
    box-shadow: 2px 1px 8px -1px rgba(50,50,50,.3);
    border-radius: 6px;
    overflow: visible;
    transition: .2s;
    width: 100%;
    padding-top: 10px;
    margin-bottom: 20px;
    position: relative;
    
    &:hover {
      cursor: pointer;
      box-shadow: 2px 1px 8px -1px rgba(50,50,50,.5);
    }

    .basic {
      margin: 20px 0 -20px;
    }

    input, select {
      max-width: 100px;
      background-color: #fff;
      border: 1px solid #aaa;
      border-radius: 6px;
      margin: 5px 0px;
    }
    
    .basic {
      background-color: #0077be;
      color: #f1f1f1;
      width: 80%;
    }
  }
}


.back_btn {
  width: fit-content;
  color: #0077be;
}

.middle_line {
  width: 1px;
  height: 100%;
  position: relative;
  background-color: #CCC;
}