@import url("https://fonts.googleapis.com/css?family=Inconsolata|Indie+Flower|Open+Sans|Quicksand:400,700&display=swap");

$white: #fafcfa;
$grey: #eff2ef;
$grey-light: #D1CDC9;
$grey-dark: #544e49;
$black: #2B2825;

$primary: #451A8D;
$primary-light: #7234DA;
$primary-dark: #1B0A36;

$secondary: #02a9f7;
$secondary-light: #61CCFE;
$secondary-dark: #016492;

$complementary: #AD36CB;
$complementary-light: #CE87E0;
$complementary-dark: #69207B;

$sans: 'Quicksand', sans-serif;
$cursive: 'Indie Flower', cursive;
